@{
    ViewData["Title"] = "Home Page";
}

@model List<ToDoMatrix.Models.TaskModel>

<h2>Stephen Covey's Time Management Matrix</h2>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3>Urgent</h3>
        </div>
        <div class="col">
            <h3>Not Urgent</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Important</h3>
        </div>
        <div class="col">
            <h4>Quadrant 1</h4>
            <table class="table table-bordered table-active">
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Year</td>
                        <td>category</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.Urgent == 1)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category</td>
                                <td>@x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Mark Task as Complete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <h4>Quadrant 2</h4>
            <table class="table table-bordered table-active">
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Year</td>
                        <td>category</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.Quadrant == 2)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category</td>
                                <td>@x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Mark Task as Complete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Not Important</h3>
        </div>
        <div class="col">
            <h4>Quadrant 3</h4>
            <table class="table table-bordered table-active">
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Year</td>
                        <td>category</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.Quadrant == 1)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category</td>
                                <td>@x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Mark Task as Complete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <h4>Quadrant 4</h4>
            <table class="table table-bordered table-active">
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Year</td>
                        <td>category</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.Quadrant == 1)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category</td>
                                <td>@x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Mark Task as Complete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

